altair 
asttokens 
attrs 
backcall 
blinker 
Bottleneck 
brotlipy 
cachetools 
certifi==2022.9.24
cffi 
charset-normalizer 
click 
commonmark==0.9.1
cryptography 
cycler 
dataclasses 
debugpy 
decorator 
dlib 
entrypoints 
executing 
face-recognition 
face-recognition-models 
fastjsonschema 
fonttools==4.25.0
future 
gitdb 
GitPython 
idna 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipywidgets 
jedi 
Jinja2 
jsonschema 
jupyter-core 
jupyter_client 
jupyterlab-widgets 
kiwisolver 
MarkupSafe 
matplotlib 
matplotlib-inline 
munkres==1.1.4
nbformat 
nest-asyncio 
numexpr 
numpy 
packaging 
pandas==1.4.4
parso 
pexpect 
pickleshare 
Pillow==9.2.0
pkgutil_resolve_name 
ply==3.11
prompt-toolkit 
protobuf==3.20.1
psutil 
ptyprocess 
pure-eval 
pyarrow==8.0.0
pycparser 
pydeck 
Pygments 
Pympler 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
pytube 
pytz 
pytz-deprecation-shim 
PyYAML 
pyzmq 
requests 
rich 
semver 
sip 
six 
smmap 
stack-data 
streamlit 
toml 
toolz 
tornado 
traitlets 
typing_extensions 
tzdata 
tzlocal 
urllib3 
validators 
watchdog 
wcwidth 
widgetsnbextension 
zipp 
